body{
    padding: 0;
    margin: 0;
}
 #navbar{
    background-color:rgb(189, 182, 182);
    
    height: 50px;
    color:white;
    font-size: 15px;
    padding:2% ;

}
a{
    margin-right: 30px;
    
    text-decoration: none;
    
}
 
button{
    border:1 ;
    border-color: green;
    text-decoration-color:rgb(144, 236, 182) ;
}

.main{
    display: flex;
    padding: 20px;
}
.first{
    height: 500px;
    width: 150px;
    background-color: rgb(153, 181, 233);
    color: blue;
    text-align: center;
}


.second{

    height: 200px;
    width: 700px;
    
    padding-right: 30px;
    margin-left: 20px;
    margin-top: 40px;
    
}



.th{
    background-color: green;
    color:white;
}

.c{
    background-color: darkgreen;
    padding: 10px;
    font-size: large;
}
.d{
    background-color: red;
    padding: 10px;
    font-size: large;
}
table,th,td{
    width: 800px;
    margin: auto;
    font-size: 30px;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;


}
    



    
